<%- include('partials/header.ejs') %>
<div class="container d-flex justify-content-center mt-50 mb-50">
            
    <div class="row">

        <% for(var i=0; i<products.length; i++) { %>
       <div class="col-md-4 mt-2">
        
            
            <div class="card">
                                <div class="card-body">
                                    <div class="card-img-actions">
                                        
                                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" class="card-img img-fluid" width="96" height="350" alt="">
                                          
                                       
                                    </div>
                                </div>

                                <div class="card-body bg-light text-center">
                                    <div class="mb-2">
                                        <h6 class="font-weight-semibold mb-2">
                                            <a href="#" class="text-default mb-2" data-abc="true"><%= products[i].brand %> <%= products[i].model %></a>
                                        </h6>

                                        <a href="#" class="text-muted" data-abc="true"><%= products[i].category %></a>
                                    </div>

                                    <h3 class="mb-0 font-weight-semibold"><%= products[i].price %> TL</h3>

                                    <div>
                                       <i class="fa fa-star star"></i>
                                       <i class="fa fa-star star"></i>
                                       <i class="fa fa-star star"></i>
                                       <i class="fa fa-star star"></i>
                                    </div>

                                    <div class="text-muted mb-3"><%= products[i].review  %> reviews</div>

                                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>

                                    
                                </div>
                            </div>


                        
                         
       </div> 

       <% } %>

    </div>
</div>
<%- include('partials/footer.ejs') %>